:root{
    --color-primary: #2080FF;
    --color-primary-transparent: #2080FF10;
}

html{
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;

    font-family: 'Heebo', sans-serif;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

@media screen and (max-width: 600px){
    html{
        font-size: 14px;
    }
}