:root{
    --color-primary: #F25E0D;
    --color-primary-transparent: #F25E0D10;
    --transition-primary: 400ms; 
    --radius-primary: 8px;
    --radius-secondary: 12px;
}

*:focus{
    outline: none;
}

html{
    font-size: 16px;

    background: #F8F8F8;
}

body{
    margin: 0;
    padding: 0;

    font-family: 'Heebo', sans-serif;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

@media screen and (max-width: 600px){
    html{
        font-size: 14px;
    }
}


.icon svg, .icon label{
    position: absolute;
}

.show{
    opacity: 1;
    z-index: 50;
    animation: show var(--transition-primary) ease-in-out;
}

.hide{
    opacity: 0;
    z-index: 100;
    animation: hide var(--transition-primary) ease-in-out;
}

@keyframes show{
    from{
        opacity: 0;
        transform: scale(0.9) translateX(-100%);
    } to {
        opacity: 1;
        transform: scale(1) translateX(0);
    }
}

@keyframes hide{
    to{
        opacity: 0;
        transform: scale(0.9) translateX(100%);
    } from {
        opacity: 1;
        transform: scale(1) translateX(0);
    }
}